.box {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid green;
    div {
        border: 1px solid blue;
    }
<<<<<<< HEAD
}
.box-grid {
    display: grid;
    grid-template-columns:3;
    border: 1px solid orange;
    grid-template-columns: 30px 20px 10px;
    div{
        border: 1px solid lawngreen;
        gap: 20px;
    }
=======
>>>>>>> f727db04575f5ead2c0bdef6cff1fd0edf8a80d9
}